@model LocadoraVeiculos.WebApplication.ViewModels.CupomInfoViewModel

<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="Id" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Id
    </dd>

    <dt class="col-sm-2">
        <label asp-for="ParceiroNome" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.ParceiroNome
    </dd>

    <dt class="col-sm-2">
        <label asp-for="Nome" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Nome
    </dd>

    <dt class="col-sm-2">
        <label asp-for="Valor" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Valor
    </dd>

    <dt class="col-sm-2">
        <label asp-for="DataValidade" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.DataValidade
    </dd>

    <dt class="col-sm-2">
        <label asp-for="ValorMinimo" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.ValorMinimo
    </dd>

    <dt class="col-sm-2">
        <label asp-for="Tipo" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Tipo
    </dd>
</dl>